@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: AvenirLTStd-Black;
    src: url("../fonts/avenir/AvenirLTStd-Black.otf");
}

@font-face {
    font-family: AvenirLTStd-Book;
    src: url("../fonts/avenir/AvenirLTStd-Book.otf");
}

@font-face {
    font-family: AvenirLTStd-Roman;
    src: url("../fonts/avenir/AvenirLTStd-Roman.otf");
}